.float-layout {
  padding: 10px 30px;
  float: right;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
}

.card-container {
  overflow: hidden;
}

.card {
  background-color:white;
  color: black;
  height: 100%;
  width: 50%;
  float: right;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

.card-title {
  color:white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: #e1cddd;
  
}

.card-desc {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color:white;
  color:black;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;
  
}

div.card-image img {
  width: 50%;
  height: auto;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #e1cddd;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
